/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&family=Quattrocento:wght@400;700&display=swap');

/* Base styles */
:root {
  font-family: 'Manrope', 'Quattrocento', sans-serif;
  background-color: #1a1a1a;
  /* Dark gray background */
  color: #f0f0f0;
  /* Light text color */
}

body,
h1,
h2,
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the entire application */
#app {
  display: grid;
  grid-template-rows: auto 1fr;
  /* Header on top, content below */
  min-height: 100vh;
}

/* Header styles */
#header {
  background-color: #272727;
  /* Dark gray background */
  padding: 1rem;
  text-align: center;
}

/* App content container */
#app-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* Sidebar on left, project panel on right */
  gap: 2rem;
  /* Spacing between columns */
  padding: 2rem;
}

/* Sidebar styles */
#sidebar {
  background-color: #272727;
  /* Dark gray background */
  padding: 1rem;
}

/* Display panel styles */
#display-panel {
  background-color: #272727;
  /* Dark gray background */
  padding: 1rem;
}

/* Projects container styles */
#projects-container {
  padding: 1rem;
  background-color: #333;
  /* Darker gray background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Glass-like effect */
}

/* Project item styles */
.project-item {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #444;
  /* Gray background */
  /* Lighter shade of gray */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Glass-like effect */
}

#projects-container input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  /* Dark gray background */
  color: #f0f0f0;
  /* Light text color */
}

/* Project item hover effect */
.project-item:hover {
  background-color: #555;
  /* Darker gray background */
}

.project-item-title {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.add-project {
  cursor: pointer;
  color: #f0f0f0;
  /* Light text color */
  background-color: #007bff;
  /* Blue button */
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Glass-like effect */
  transition: background-color 0.3s ease;
}

.add-project:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

/* Todos container styles */
#todos-container {
  padding: 1rem;
}

/* Todo item styles */
.todo-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  background-color: #333;
  /* Dark gray background */
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Glass-like effect */
}

.todo-item input[type="text"],
.todo-item select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  /* Dark gray background */
  color: #f0f0f0;
  /* Light text color */
}

.todo-item :nth-child(1),
.todo-item input:nth-child(1) {
  font-weight: bold;
  font-size: 1.2rem;
  /* Larger font size */
  grid-column: 1;
  grid-row: 1;
}

.todo-item :nth-child(3),
.todo-item input:nth-child(3) {
  justify-self: end;
  font-size: 0.8rem;
  /* Smaller font size */
  grid-column: 2;
  grid-row: 1;
}

.todo-item :nth-child(4),
.todo-item input:nth-child(4) {
  font-size: 0.8rem;
  /* Smaller font size */
  grid-column: 1;
  grid-row: 2;
}

.todo-item :nth-child(2),
.todo-item input:nth-child(2) {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-color: #444;
  /* Darker gray background */
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Glass-like effect */
  color: #f0f0f0;
  /* Light text color */
}


/* Todos logic panel styles */
#todos-logic-panel {
  background-color: #444;
  /* Gray background */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Glass-like effect */
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
}

/* Add todo button styles */
.add-todo-button {
  cursor: pointer;
  background-color: #007BFF;
  border-radius: 12px;
  text-align: center;
  color: #f0f0f0;
  /* Blue color */
  font-size: 2rem;
  /* Larger font size */
  font-weight: bold;
  width: 4rem;
  transition: background-color 0.3s ease;
}

.add-todo-button:hover {
  background-color: #0056b3;
}


/* Input field styles */
#todos-logic-panel input[type="text"],
#todos-logic-panel select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  /* Dark gray background */
  color: #f0f0f0;
  /* Light text color */
}

/* Create todo button styles */
.confirm-todo-button {
  cursor: pointer;
  color: #f0f0f0;
  /* Light text color */
  background-color: #007bff;
  /* Blue button */
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Glass-like effect */
  transition: background-color 0.3s ease;
}

.confirm-todo-button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}