/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&family=Quattrocento:wght@400;700&display=swap');

/* Base styles */
:root {
  font-family: 'Manrope', 'Quattrocento', sans-serif;
  background-color: #f5f5f5;
  /* Light background */
}

body,
h1,
h2,
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the entire application */
#app {
  display: grid;
  grid-template-rows: auto 1fr;
  /* Header on top, content below */
  min-height: 100vh;
}

/* Header styles */
#header {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}

/* App content container */
#app-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* Sidebar on left, project panel on right */
  gap: 2rem;
  /* Spacing between columns */
  padding: 2rem;
}

/* Sidebar styles */
#sidebar {
  background-color: #fff;
  padding: 1rem;
}

/* Display panel styles */
#display-panel {
  background-color: #fff;
  padding: 1rem;
}

/* Projects container styles */
#projects-container {
  padding: 1rem;
  background-color: #f0f0f0;
  /* Light gray background */
  border-radius: 10px;
}

/* Project item styles */
.project-item {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #e0e0e0;
  /* Lighter shade of gray */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Project item hover effect */
.project-item:hover {
  background-color: #d0d0d0;
  /* Darker shade of gray */
}

.add-project {
  cursor: pointer;
  color: black;
  background-color: #FFFFFF;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

.add-project:hover {
  background-color: #d0d0d0;
}

/* Todos container styles */
#todos-container {
  padding: 1rem;
}

/* Todo item styles */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* White background */
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Shadow effect */
}

.todo-title {
  font-weight: bold;
}