@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&family=Quattrocento:wght@400;700&display=swap');

/* 
font-family: 'Manrope', sans-serif;
font-family: 'Quattrocento', serif;
*/

:root {
  font-family: 'Manrope', 'Quattrocento', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#todo-title {
  color: white;
  font-size: 4rem;
}